@model AccountHomeViewModel;

<link href="~/css/Developer/AccountHome.css" rel="stylesheet" />

<div class="container">
    @if (ViewBag.EmailVerified == true)
    {
        <div class="alert alert-success" role="alert">
          Your email has been successfully verified, thanks!
        </div>
    }

    @if (!Model.Account.Verified)
    {
        <div class="alert alert-warning" role="alert">
            Please complete your account verification. You can do this by clicking on the verification link in the email we sent you. Make sure to check your spam folder!
        </div>
    }
    else
    {
        <a class="btn btn-light" role="button" id="add-app" asp-controller="Application" asp-action="AddNew">
            Add an application
        </a>

        @if(Model.Applications.Count < 1)
        {
            <div class="alert alert-light" role="alert">
                Hi, @Model.Account.FirstName.<br />
                It looks like you haven't added an application yet. <a asp-controller="Application" asp-action="AddNew">Click here</a> to get started!
            </div>
        }

        @foreach(var app in Model.Applications)
        {
            <div class="card pt-4 pb-4 pr-4 pl-4 application-card">
                <div class="app-info">
                    <h2>@app.Name</h2>
                    <p><strong>Status: </strong>@app.Status</p>
                    <p><strong>API Key: </strong>@app.ApiKey</p>
                    <p><strong>Created on: </strong>@app.CreationDate.ToShortDateString()</p>
                    <p><strong>Website: </strong>@(String.IsNullOrEmpty(app.Website) ? "No website added yet" : app.Website)</p>
                </div>
                <div class="app-buttons">
                    <a href="#" class="btn btn-primary">Edit App</a>
                    <a href="#" class="btn btn-danger">Delete App</a>
                </div>
            </div>
        }
    }
</div>